# ------------------------------------------------------------------------------
# GLOBAL
# ------------------------------------------------------------------------------
NODE_ENV=production
JWT_SECRET=change-me-to-a-64-char-hex-string

# ------------------------------------------------------------------------------
# DATABASE (PostgreSQL — shared instance, logical isolation)
# ------------------------------------------------------------------------------
DB_HOST=postgres-prod
DB_PORT=5432
DB_USER=jobportal
DB_PASSWORD=jobportal_prod_password_change_me

USER_SERVICE_DB=user_db
JOB_SERVICE_DB=job_db
APPLICATION_SERVICE_DB=application_db
NOTIFICATION_SERVICE_DB=notification_db

POSTGRES_USER=jobportal
POSTGRES_PASSWORD=jobportal_prod_password_change_me
POSTGRES_DB=postgres

# ------------------------------------------------------------------------------
# RABBITMQ (Async messaging)
# ------------------------------------------------------------------------------
RABBITMQ_USER=jobportal
RABBITMQ_PASS=jobportal_prod_password_change_me
RABBITMQ_URL=amqp://jobportal:jobportal_prod_password_change_me@rabbitmq-prod:5672

# ------------------------------------------------------------------------------
# MONITORING (Grafana)
# ------------------------------------------------------------------------------
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin_prod_password_change_me